<center>
    <img width="600" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/1200px-Python_logo_and_wordmark.svg.png" />
</center>

# Python Tutorial

***

Started looking at [Python Documentation](https://docs.python.org/3/tutorial/index.html) to play around with Jupyter. Started with some basics such as Numbers, Strings and Lists to get the gist of it and to get started with Jupyter.

## Numbers

***

In [1]:
2 + 2

50 - 5*6

(50 - 5*6) / 4

8 / 5  # division always returns a floating point number

1.6

In [2]:
17 / 3  # classic division returns a float

17 // 3  # floor division discards the fractional part

17 % 3  # the % operator returns the remainder of the division

5 * 3 + 2  # floored quotient * divisor + remainder

17

In [3]:
5 ** 2  # 5 squared

2 ** 7  # 2 to the power of 7

128

In [4]:
width = 20
height = 5 * 9
width * height

900

In [5]:
4 * 3.75 - 1

14.0

In [6]:
tax = 12.5 / 100
price = 100.50
price * tax

price + _

round(_, 2)

14.0

## Strings

***

In [7]:
'spam eggs'  # single quotes
'doesn\'t'  # use \' to escape the single quote...
"doesn't"  # ...or use double quotes instead
'"Yes," they said.'
"\"Yes,\" they said."
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [8]:
'"Isn\'t," they said.'

print('"Isn\'t," they said.')

s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

print(s)  # with print(), \n produces a new line

"Isn't," they said.
First line.
Second line.

In [9]:
print('C:\some\name')  # here \n means newline!

print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

In [10]:
# String literals
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [11]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [12]:
# Concatenated
'Py' 'thon'

'Python'

In [13]:
# Breaking long strings
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [14]:
# Strings can be indexed
word = 'Python'
word[0]  # character in position 0

word[5]  # character in position 5

'n'

In [15]:
word[-1]  # last character

word[-2]  # second-last character

word[-6]

'P'

In [16]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

## Lists

***

In [17]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [18]:
squares[0]  # indexing returns the item

squares[-1]

squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [19]:
squares[:]

[1, 4, 9, 16, 25]

In [20]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [22]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [23]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

# now remove them
letters[2:5] = []
letters

# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [24]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [25]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

x[0]

x[0][1]

'b'

## if Statements

https://docs.python.org/3/tutorial/controlflow.html#if-statements

***

In [26]:
# Asks to enter an integer and then returns either Zero, Single or More
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: -1
Negative changed to zero

## for Statements

https://docs.python.org/3/tutorial/controlflow.html#for-statements

***

In [27]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

## The range() Function

https://docs.python.org/3/tutorial/controlflow.html#the-range-function

***

In [28]:
# range generates arithmetic progressions
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
# iterate over the indices of a sequence

list(range(5, 10))

list(range(0, 10, 3))

list(range(-10, -100, -30))

[-10, -40, -70]

In [30]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [31]:
range(10)

range(0, 10)

In [32]:
sum(range(4))  # 0 + 1 + 2 + 3

6

## break and continue Statements, and else Clauses on Loops

https://docs.python.org/3/tutorial/controlflow.html#break-and-continue-statements-and-else-clauses-on-loops

***

In [33]:
# Searches for prime numbers
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [34]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

## Defining Functions

https://docs.python.org/3/tutorial/controlflow.html#defining-functions

***

In [35]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [36]:
fib

f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [37]:
fib(0)
print(fib(0))

None

In [38]:
# Function that returns a list of the numbers

def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### Lambda Expressions

https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions

***

In [39]:
# Function returns the sum of it's two arguments
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)

f(1)

43

In [40]:
# Another way of passing small function as an argument
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

### Documentation Strings

https://docs.python.org/3/tutorial/controlflow.html#documentation-strings

***

In [41]:
# Multiline docstring
def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

### Function Annotations

https://docs.python.org/3/tutorial/controlflow.html#function-annotations

***

In [42]:
# This example has a required argument, an optional argument and the return value annotated
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

## Data Structures

Looking at Data Structures in more depth detail.

https://docs.python.org/3/tutorial/datastructures.html#

***

### More on lists

https://docs.python.org/3/tutorial/datastructures.html#more-on-lists
    
***

In [43]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

# Returns number of times x appears in the list
fruits.count('apple')

# Returns number of times x appears in the list
fruits.count('tangerine')

# Returns zero-based index in the list of the first item which value is equal to x
fruits.index('banana')

# Returns zero-based index in the list of the first item which value is equal to x
fruits.index('banana', 4)  # Find next banana starting a position 4

# Reverse the elements of the list in place
fruits.reverse()
fruits

# Add an item to the end of the list 
fruits.append('grape')
fruits

# Sort the items of the list in place 
fruits.sort()
fruits

# Remove the item at the given position in the list and return it
fruits.pop()

'pear'

### Using Lists as Stacks

https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-stacks
    
***

In [44]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

# To retrieve an item from the top of the stack, use pop()
stack.pop()

stack

stack.pop()

stack.pop()

stack

[3, 4]

### Using Lists as Queues

https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-queues
    
***

In [45]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

### List Comprehensions

https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions
    
***

In [46]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [48]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [49]:
# List comprehensions can contain complex expressions
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### Nested List Comprehensions

https://docs.python.org/3/tutorial/datastructures.html#nested-list-comprehensions
    
***

In [50]:
# 3x4 matrix
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [51]:
# Transpose rows and columns
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [52]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### Sets

https://docs.python.org/3/tutorial/datastructures.html#sets
    
***

In [53]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

'orange' in basket                 # fast membership testing

'crabgrass' in basket


# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

a - b                              # letters in a but not in b
a | b                              # letters in a or b or both
a & b                              # letters in both a and b
a ^ b                              # letters in a or b but not both

{'orange', 'apple', 'pear', 'banana'}

{'b', 'd', 'l', 'm', 'r', 'z'}

In [54]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

### Dictionaries

https://docs.python.org/3/tutorial/datastructures.html#dictionaries
    
***

In [55]:
# Example using dictionary
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

tel['jack']

del tel['sape']
tel['irv'] = 4127
tel

list(tel)

sorted(tel)

'guido' in tel

'jack' not in tel

False

In [56]:
# Build dictionaries directly from sequences of key-value pairs
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [57]:
# Create dictionaries from arbitrary key and value expressions
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [58]:
# Pairs using keyword arguments
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### Looping Techniques

https://docs.python.org/3/tutorial/datastructures.html#looping-techniques
    
***

In [59]:
# items() can retrieve key and corresponding value at the same time
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [60]:
# enumerate can retrieve position index and corresponding value at the same time
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [61]:
# Using zip() function, you can loop over two or more sequences at the same time
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [62]:
# Loop over a sequence in reverse
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [63]:
# Loops over in a sorted order
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [64]:
# Eliminate duplicate elements using sorted() and set()
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

***

## End of Python Tutorial