<center>
    <img width="600" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/1200px-Python_logo_and_wordmark.svg.png" />
</center>

# Python Tutorial

***

Started looking at [Python Documentation](https://docs.python.org/3/tutorial/index.html) to play around with Jupyter. Started with some basics such as Numbers, Strings and Lists to get the gist of it and to get started with Jupyter.

## Numbers

***

In [1]:
2 + 2

50 - 5*6

(50 - 5*6) / 4

8 / 5  # division always returns a floating point number

1.6

In [2]:
17 / 3  # classic division returns a float

17 // 3  # floor division discards the fractional part

17 % 3  # the % operator returns the remainder of the division

5 * 3 + 2  # floored quotient * divisor + remainder

17

In [3]:
5 ** 2  # 5 squared

2 ** 7  # 2 to the power of 7

128

In [4]:
width = 20
height = 5 * 9
width * height

900

In [5]:
4 * 3.75 - 1

14.0

In [6]:
tax = 12.5 / 100
price = 100.50
price * tax

price + _

round(_, 2)

14.0

## Strings

***

In [7]:
'spam eggs'  # single quotes
'doesn\'t'  # use \' to escape the single quote...
"doesn't"  # ...or use double quotes instead
'"Yes," they said.'
"\"Yes,\" they said."
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [8]:
'"Isn\'t," they said.'

print('"Isn\'t," they said.')

s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

print(s)  # with print(), \n produces a new line

"Isn't," they said.
First line.
Second line.

In [9]:
print('C:\some\name')  # here \n means newline!

print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

In [10]:
# String literals
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [11]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [12]:
# Concatenated
'Py' 'thon'

'Python'

In [13]:
# Breaking long strings
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [14]:
# Strings can be indexed
word = 'Python'
word[0]  # character in position 0

word[5]  # character in position 5

'n'

In [15]:
word[-1]  # last character

word[-2]  # second-last character

word[-6]

'P'

In [16]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

## Lists

***

In [17]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [18]:
squares[0]  # indexing returns the item

squares[-1]

squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [19]:
squares[:]

[1, 4, 9, 16, 25]

In [20]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [22]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [23]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

# now remove them
letters[2:5] = []
letters

# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [24]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [25]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

x[0]

x[0][1]

'b'

***

# End of Python Tutorial